/* --- BASE--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}

header .desktop-nav-links {
  display: none;
}

header nav > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header nav > a span:nth-child(1) {
  font-size: 2rem;
  font-weight: 900;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 0 0.3rem;
}

header nav > a span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.mobile-nav {
  position: absolute;
  right: 0;
  top: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  width: 9rem;
  max-width: 12rem;
  height: 13rem;
  padding: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.mobile button {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile a {
  font-size: 1.2rem;
  color: white;
}

.mobile a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.mobile:hover .mobile-nav {
  display: flex;
} 

/* HERO SECTION*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Gemini_Generated_Image_9s1kk59s1kk59s1k.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 70vh;
  position: relative;
}

.hero-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  text-align: center;
  z-index: 10;
  gap: 2rem;
}

.hero-subtitle h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.hero-subtitle p {
  font-size: 1rem;
  font-weight: 300;
}

.hero-subtitle a {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
  color: white;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}

.hero-subtitle a:hover {
  transform: scale(1.2);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ABOUT SECTION*/

.about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
  height: 70vh;
}

.about div:nth-child(1) {
  background-image: url(../images/dindu\ portrait.jpg);
  background-size: cover;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 10px solid rgba(0, 0, 0, 0.8);
  margin: 2rem auto;
}

.about div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.about h2,
.about h3 {
  text-align: center;
}

.about p {
  text-align: center;
  padding: 0.5rem;
}

.about p:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

/* SKILL SECTION */

.skill-container {
  width: 100%;
  display: grid;
  grid-template-rows: 3rem 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 25rem;
}

.skill-container h2 {
  text-align: center;
}

.skill-names {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  gap: 1rem;
  width: 80%;
  text-align: center;
}

.skill-names div {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.skill-names div i {
  margin-right: 1rem;
}

.skill-names div:hover {
  transform: skewX(10deg);
}

/* PROJECT SECTION */

.project {
  width: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 1rem;
  margin: 1rem auto;
}

.project h2 {
  text-align: center;
  display: grid;
  align-items: center;
}

.project-samples {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin: auto;
  gap: 1rem;
  width: 80%;
}

.project-samples div {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  transition: all 0.8 ease-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.project-samples div span {
  font-weight: bold;
}

.project-image-1 {
  width: 5rem;
  height: 5rem;
  background-image: url(../images/html\ logo\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.project-image-2 {
  width: 5rem;
  height: 5rem;
  background-image: url(../images/css\ logo.jpg);
  background-size: cover;
  background-position: center;
}

.project-image-3 {
  width: 5rem;
  height: 5rem;
  background-image: url(../images/html\ logo\ 1.jpg);
  background-size: cover;
  background-position: center;
}

.project-samples div a {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  color: white;
}

.project-samples div a:hover {
  transform: scaleX(1.1);
}

/* CONTACT ME */

.contact {
  display: grid;
  grid-template-rows: 7rem 1fr;
  gap: 1rem;
  width: 100%;
  margin: 4rem 0;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.contact-intro p {
  text-align: center;
  width: 80%;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.contact label {
  color: white;
}

.first-last,
.email-course {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.first-last > div,
.email-course > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact form input,
.contact form select {
  outline: 0;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.comment textarea {
  min-height: 2.5rem;
  outline: none;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.contact button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.9rem 2rem;
  border-radius: 15px;
  font-weight: 600;
  transition: filter 0.5s ease-in-out;
  margin: 0.9rem 0;
  align-self: flex-start;
  cursor: pointer;
}

.contact button:hover {
  filter: brightness(0.5);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem 1rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.contact-links h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.contact-urls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-urls a {
  color: #fff;
  font-size: 1.2rem;
}

.contact-urls a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.contact-urls a i {
  margin-right: 1rem;
}

/* FOOTER SECTION */

footer {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

footer a {
  color: white;
  font-size: 1.2rem;
}

footer a:hover {
  color: cornflowerblue;
}

@media (min-width: 768px) {
  /* HEADER */
  .mobile {
    display: none;
  }

  header .desktop-nav-links {
    display: flex;
    gap: 2rem;
  }

  header nav {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
  }

  header .desktop-nav-links a {
    color: white;
    font-size: 1.2rem;
    transition: filter 0.2 ease-in-out;
  }

  header .desktop-nav-links a:hover {
    filter: brightness(70%);
  }

  /* HERO */

  .hero-subtitle h1 {
    font-size: 3rem;
  }

  .hero-subtitle p {
    font-size: 1.5rem;
  }

  /* ABOUT */

  .about {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: none;
    align-items: center;
    height: auto;
    margin: 2rem auto;
  }

  .about div:nth-child(1) {
    width: 20rem;
    height: 20rem;
  }

  .about div:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .about h2,
  .about h3 {
    color: rgba(0, 0, 0, 0.7);
  }

  /* SKILLS */
  .skill-container {
    margin-top: 0;
  }
  /* PROJECT SECTION */

  .project-samples {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 70%;
  }

  .project-samples div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .project-samples div:nth-child(1),
  .project-samples div:nth-child(2) {
    grid-column: span 2;
  }

  .project-samples div:nth-child(3) {
    grid-column: 2 / 4;
  }

  /* CONTACT ME */

  .first-last,
  .email-course {
    grid-template-columns: 1fr 1fr;
  }

  .contact button {
    align-self: center;
  }

  .contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 18.7rem;
  }

  .contact-urls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  /* FOOTER */
  Footer {
    font-size: 1.5rem;
  }
}

@media (min-width: 1026px) {
  .skill-container {
    margin-top: 0;
  }

  .skill-names {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .skill-names div {
    width: 25rem;
    height: 5rem;
    align-content: center;
  }

  .skill-names div:nth-child(7) {
    grid-column: 2 / 3;
  }
}
